*, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    /* background-color:blue; */
    color: black
    /* hei 100%; */
    /* background-image: url(https://images.pexels.com/photos/254178/pexels-photo-254178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    /* background-size: contain; */
}
.container > #produce {
    text-align: center;
    font-size: 60px;
}
.section {
    display: flex;
    justify-content: center;
    height: 800px;
    justify-content: space-around;
    /* box-shadow: 0px 0px 20px rgb(250, 0, 10);  */
    /* width: 100%; */
}
.form {
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px lightblue;  */
    margin: 20px;
    background-color:silver;
    color: black;
    padding-left: 60px;
}
form  h2 {
    border-bottom: 2px solid white;
}
form > label {
    font-size: 30px;
}
form > input {
    padding: 10px 0;
    font-size: 20px;
}
#shed {
    width: 70%;
    padding-top: 70px;
    padding-bottom: 20px;
    /* padding: 60px; */
    /* height: 30px; */
    /* margin-top: 50px; */
}
#shed > input {
    padding: 60px;
    justify-content: space-around;

    /* padding: 70px; */
}
#select > input {
    width: 30%;
    display: block;
    padding: 10px;
}
button{
    width:30%;
    padding: 10px;
}
.output {
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px whitesmoke;  */
    margin: 20px;
    background-color: silver;
    color: black;
}
.track{
    width: 60%;
    padding: 60px;
}
